# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Computed data
/scenes/manta
/scenes/*.bin
/build/*
/scenes/saved_*
/tensorflow/data/*
/tensorflow/2ddata_sim
/tesorflow/2ddata_sim/*

# Pycharm data
/.idea/*

# All python cache
__pycache__

# Bin files been modifies each computation
waveletNoiseTile.bin
